img{
    height: auto;
    width: 100px;
}

ul{
    list-style-type: none;
}

a:link,
a:visited{
    text-decoration: none;
    color: #f9faf8;
}

body{
    display: flex;
    flex-direction: column;
    all: unset;
    font-family:Arial, Helvetica, sans-serif; 
}
/* top portion of website */

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0px;
    color: #f9faf8;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
    padding-bottom: 50px;
}

/* top portion of the header */
.header-top{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    height: auto;
    width: 25px;
}


.links{
    margin: 0px;
    display: flex;
    gap: 20px;
    font-size: 12px;
    
}
/* bottom portion of the header */
.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.image{
    flex: 1 1 300px;
    margin-left: auto;
    margin-right: auto;
}

.header-left{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 365px;;
    gap: 5px;
}

.signup{
    border: none;
    max-width: 125px;
    margin-top: 5px;
    background-color: rgb(70 116 245);
    color: #e5e7eb;
    border-radius: 8px;
    padding: 5px;
    font-size:  18px;
    font-weight: bold;
}

.main-title{
    font-size: 18px;
}

.title{
    font-size: 48px;
    font-weight: 900;
}

/* middle content portion of website */

.body-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 25px;
    justify-content: center;
}

.body-heading{
    padding: 25px;
    font-size: 36px;
    color: #1f2937;

}

.image-text-container{
    display: flex;
    /* gap: 30px; */

    
}

.container1,
.container2,
.container3,
.container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}

.option{
    flex: 1 1 100px;
    /* max-height: 120px; */
    margin-top: auto;
    margin-bottom: auto;
    border: 3px solid rgb(70 116 245);
    border-radius: 10px;
}

.text{
    width: auto;
    height: auto;
}

/* quote formatting */

.quote-box{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quote{
    flex-wrap: wrap;
}

.attribution{
    align-self: flex-end;
    font-size: 18px;
    font-weight: 700;
}

